.cards{
    min-width: 275px;
    background: "#177530";
    background-image: linear-gradient(to right bottom, #ffffff, #d1c5d7, #b08aa6, #924f6c, #6f0e2d);
    border-radius: 50px !important;
}
.css-heg063-MuiTabs-flexContainer{
    backdrop-filter: blur(9px) saturate(200%) !important;
    -webkit-backdrop-filter: blur(9px) saturate(200%) !important;
    background-color: rgba(255, 255, 255, 0.05) !important;
}
.textoSombra{
    text-shadow: 2px -2px 13px #000000;
    text-shadow: 2px 2px 13px #000;
    text-shadow: -2px -2px 13px #000;
    text-shadow: -2px 2px 13px #000;
}